// ==========================================================================
// Styleguide
// ==========================================================================

// Body

.styleguide {
    background: $gray-7;

    .sg-header {
        background: linear-gradient(45deg, $yellow 10%, $orange 90%);
        margin-bottom: 40px;
        text-align: center;

        .headline-1 {
            color: $white;
        }

        .headline-5 {
            color: rgba(0,0,0,.4);
        }

        .navbar {
            background: rgba(0,0,0,.1);
            padding: rem(2px) 0;

            .logo--foxplay {

            }
        }
    }

    // Sg-block

    .sg-block {
        @include radius(4px, transparent);
        padding: rem(30px);
        margin-bottom: 40px;
        overflow: hidden;


        &--white {
            background: $white;
        }

        &--black {
            background: $gray-87;
            color: $white;
            margin: 30px -20px -20px -20px;
            padding: rem(20px);
        }

        .headline {

            &-1, &-2, &-3, &-4, &-5 {
                margin: 20px 0;
            }

            &-2 {
                margin-top: 0;
                margin-bottom: 10px;
            }

            &-4:first-of-type {
                margin-top: 0;
            }

        }

        p {
            margin: 10px 0;
        }

        .icon {
            margin-right: 20px;
        }

    }

}