// ==========================================================================
// Mixins
// ==========================================================================

// Media queries

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $screen-md + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
   @else {
    @error "Whoops! No encontramos ese `#{$break}`. "
  }
}

// BEM selectors

@mixin e($element) {
    &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Box sizing
@mixin box-sizing($value){
  box-sizing: $value;
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    -ms-box-sizing: $value;
    -o-box-sizing: $value;
}

// Border Radius

@mixin radius($radius, $color) {
  border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
  border: 1px solid $color;
}


// Tranisitions

@mixin transition($transition) {
  transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

// Transform

@mixin transform($transform) {
  transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

// Box Shadows

@mixin shadow($shadow) {
  box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
}

// Arrow

@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 1;

    @if $direction == 'top' {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
        border-right: $size solid $color;
        border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
    } @else if $direction == 'top-right' {
        border-top: $size solid $color;
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-bottom: $size solid $color;
        border-right: $size solid transparent;
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
    }
}
