// ==========================================================================
// States
// ==========================================================================

// Fixed

.is-fixed {
    position: fixed;
}

// Hidden

.is-hidden {
    display: none;
}

// Show

.is-show {
    display: inline-block;
}