/**
 * Base on Olivia Grid v1.2
 * Copyright 2014, Luis Chiappe
 * http://luifi.github.io/olivia/
 * luischiappe.com.ar
 */

// ==========================================================================
// Grid config
// ==========================================================================

// Width containers and columns
$full-width     : 100%;
$min-width      : 1px;
$fix-width      : 1600px;

// Media Queries Breakpoints
$medium-screen  : 980px;
$large-screen   : 1366px;

// First and last column
$first          : 1;
$last           : 12;

// Size of gutters
$gutter      : .625rem;
$gutter--hl  : .3125rem;

// ==========================================================================
// Grid Containers
// ==========================================================================

.container {
    margin: auto;
    max-width: $fix-width;
    min-width: $min-width;
    position: relative;
    padding: 0 1.250rem;
}

.container-fluid {
    width: $full-width;
}

// ==========================================================================
// Grid Principal
// ==========================================================================

.row {
    margin-left: -$gutter;
    margin-right: -$gutter;

    // Attribute selector

    [class^='box'] {
        float: left;
        padding: $gutter;
        width: $full-width; //

        // Floats last ".box-" to the right

        &:last-of-type {
            float: right;
        }

        // Fix gutter for nesting boxes

        & .row {
            margin-bottom: -$gutter;
            margin-top: $gutter;
        }
    }

    // Clearfix

    @extend %clearfix;


    /**
     * REMEMBER: By default all the box has full width
     */

    @for $i from $first through $last {
        .box-#{$i} {
            width: $full-width / $i;
        }
    }


    // Medium screens

    @media screen and (min-width: $medium-screen) {

        @for $i from $first through $last {
            .box-m-#{$i} {
                width: $full-width / $i;
            }
        }

          // More

        .box-m-90 {
            width: $full-width - 10%;
        }

        .box-m-80 {
            width: $full-width - 20%;
        }

        .box-m-75 {
            width: $full-width - 25%;
        }

    }


    // Large screens

    @media screen and (min-width: $large-screen) {

        @for $i from $first through $last {
            .box-l-#{$i} {
                width: $full-width / $i;
            }
        }

    }

}

// ==========================================================================
// Grid Highligh
// ==========================================================================

.hl-row {
    margin-left: -$gutter--hl;
    margin-right: -$gutter--hl;

    // Attribute selector
    [class^='hl-box'] {
        float: left;
        padding:$gutter--hl;
        width: $full-width; //

        // Floats last ".box-" to the right

        &:last-of-type {
            float: right;
        }

        // $gutter--highlight for nesting boxes

        & .hl-row {
            margin-bottom: -$gutter--hl;
            margin-top: $gutter--hl;
        }
    }

    // Clearfix

    @extend %clearfix;


    /**
     * REMEMBER: By default all the box has full width
     */

    @for $i from $first through $last {
        .hl-box-#{$i} {
            width: $full-width / $i;
        }
    }

}