// ==========================================================================
// Base Styles
// ==========================================================================

* {
	@include box-sizing(border-box);
}

*:focus,
*:active {
    outline: 0;
}

body {
  font-family: $font-family--roboto;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0;
}

// Text

.headline {

  &-1, &-2, &-3, &-4, &-5 {
    font-weight: $font-weight--light;
  }

  &-1 {
    font-size: rem(48px);
  }

  &-2 {
    font-size: rem(36px);
  }

  &-3 {
    font-size: rem(30px);
  }

  &-4 {
    font-size: rem(24px);
  }

  &-5 {
    font-size: rem(18px);
  }

  &-6 {
    font-size: rem(14px);
    font-weight: $font-weight--medium;
  }

}

a {
  text-decoration: none;
  color: $gray-87;
  font-weight: $font-weight--light;
}

p {
  font-size: rem(14px);
  font-weight: $font-weight--medium;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-top: 0; //reveer este estilo
}


// Images

img {
  border: none !important;
}




