// ==========================================================================
// Buttons
// ==========================================================================

.btn {
    display: inline-block;
    margin: 0;
    padding: rem(9.5px) rem(20px);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-weight: $font-weight--light;
    background: transparent;
    @include transition(.1s all linear);
    @include radius(100px, transparent);


    // Full width

    @include m(full-width) {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }


    // Size

    @include m(small) {
        font-size: rem(14px);
        padding: rem(8px) rem(16px);
    }

    @include m(large) {
        font-size: rem(18px);
        padding: rem(18px) rem(24px);
    }


    // Style Border

    @include m(border-dark) {
        @include radius(4px, $gray-80);
        color: $gray-80;

        &:hover {
            @include radius(4px, darken($gray-80, 100%));
            color: darken($gray-80, 100%);
        }
    }

    @include m(border-white) {
        @include radius(4px, $white);
        color: $white;

        &:hover {
            @include radius(4px, darken($white, 5%));
            color: darken($white, 5%);
        }
    }


    // Style Fill

    @include m(fill-dark) {
        @include radius(4px, transparent);
        color: $white;
        background: $gray-80;

        &:hover {
            background: darken($gray-80, 5%);
        }
    }

    @include m(fill-white) {
        @include radius(4px, transparent);
        color: $gray-71;
        background: $white;

        &:hover {
            background: darken($white, 5%);
        }
    }

}


// ==========================================================================
// Buttons Group
// ==========================================================================

.btn-group {

    .btn {
        margin-right: 10px;
    }
}



