// ==========================================================================
// Code
// ==========================================================================

    code {
        padding: .25em .5em;
        background: #333;
        color: white;
        @include radius(4px, transparent);
        display: inline-block;
    }

    .code {
        display: block;
        text-align: center;

        @include m($orange) {
            background: $orange;
        }

        @include m($purple) {
            background: $purple;
        }

        @include m($light-blue) {
            background: $light-blue;
        }

        @include m($yellow) {
            background: $yellow;
        }

        @include m($green) {
            background: $green;
        }

        @include m($red) {
            background: $red;
        }

    }