// ==========================================================================
// Dropdown
// ==========================================================================

// ==========================================================================
// Extend for Dropdowns
// ==========================================================================

%dropdown-box-arrow {
    @extend %arrow;

    &::before {
        top: -7px;
        @extend %stroke-arrow-top-white;
    }

    &::after {
        top: -7px;
        @extend %arrow-top-white;
    }

}

// ==========================================================================
// Dropdown BEM
// ==========================================================================

.dropdown {
    position: relative;
    max-width: 170px; // solo para sg
    margin: 20px auto; // Solo para sg


    // Dropdown inline-block

    @include m(inline) {
        display: inline-block;
    }


    // DD Toggle

    &-toggle {
        display: block;
    }


    // DD Box

    &-box {
        position: absolute;
        z-index: 9999;
        top: 100%;
        min-width: 176px;
        display: none;
        background: $white;
        padding: rem(8px) 0;
        @include radius(4px, $gray-20);


        // Show on the left

        @include m(left) {
            left: 0;
            @extend %dropdown-box-arrow;

            &::before {
                left: 16px;
            }

            &::after {
                left: 15px;
            }
        }


        // Show on the right

        @include m(right) {
            right: 0;
            @extend %dropdown-box-arrow;

            &::before {
                right: 16px;
            }

            &::after {
                right: 15px;
            }
        }


        // Dropdown Items

        @include e(item) {

            a {
                padding: rem(11px);
                display: block;

                &:hover {
                    background: $gray-7;
                }
            }

            @include m(lead) {

                a {
                    font-weight: $font-weight--bold;
                }

            }

        }

    }


    // Show DD

    &:hover {

        > .dropdown-box {
            display: block;
        }

    }
}