// ==========================================================================
// Dropdown
// ==========================================================================

// ==========================================================================
// Extend for Dropdowns
// ==========================================================================

%dropdown-box-arrow {
    @extend %arrow;

    &::before {
        top: -7px;
        @extend %stroke-arrow-top-white;
    }

    &::after {
        top: -7px;
        @extend %arrow-top-white;
    }

}

// ==========================================================================
// Dropdown BEM
// ==========================================================================

.dropdown {
    position: relative;
    max-width: 460px;
    margin: 20px auto; // Solo para sg

    &-toggle {
        display: block;
        width: 100%; // Solo para sg


        .icon {
            margin-left: 10px;
            margin-right: initial; // Resetea el estilo que tienen los iconos del sg
        }
    }

    &-box {
        position: absolute;
        z-index: 9999;
        top: 100%;
        min-width: 220px;
        // display: none;
        background: $white;
        @include radius(4px, $gray-20);
        @include shadow(0 0 4px 1px rgba(0,0,0,.3));


        // Show on the left

        @include m(left) {
            left: 0;
            @extend %dropdown-box-arrow;

            &::before {
                left: 21px;
            }

            &::after {
                left: 20px;
            }
        }


        // Show on the right

        @include m(right) {
            right: 0;
            @extend %dropdown-box-arrow;

            &::before {
                right: 21px;
            }

            &::after {
                right: 20px;
            }
        }


        // Dropdown Items

        @include e(item) {

            a {
                padding: rem(11px);
                display: block;

                &:hover {
                    background: $gray-7;
                }

            }
        }



    }

    &:hover {

        > .dropdown-box {
            display: block;
        }

    }
}