// ==========================================================================
// Forms
// ==========================================================================

// Placeholder

::-webkit-input-placeholder {
   color: $gray-80;
}

:-moz-placeholder { /* Firefox 18- */
    color: $gray-80;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray-80;
}

:-ms-input-placeholder {
   color: $gray-80;
}


// ==========================================================================
// Extends for Forms
// ==========================================================================

// General Form styles

%f-gral  {
    @include radius(4px, $gray-20);
    position: relative;
    width: 230px;
    height: 40px;
    font-size: rem(15px);
}


// General inputs styles * When the styles doesn't applied on the input tag

%f-gral-input {
    background: none;
    border: none;
    font-weight: $font-weight--light;
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
}


// Padding inputs

%f-gral-padding {
    padding: rem(9px) rem(10px);
}


// ==========================================================================
// Forms BEM
// ==========================================================================

.f {

    // Form Package

    &-package {
        overflow: hidden;
    }


    // Form Group

    &-group {

        // If the group is inside ".f-package" used those styles

        .f-package & {
            float: left;
            margin-right: 10px;
        }

        &__label, &__input {
            display: block;
            font-weight: $font-weight--light;
        }

        @include e(label) {
            margin-bottom: 5px;
        }

        @include e(input) {
            @extend %f-gral;
            @extend %f-gral-padding;
        }
    }


    // Input Search

    &-search {
        @extend %f-gral;
        @extend %f-gral-padding;

        @include e(loupe) {
            float: right;
        }

        @include e(input) {
            @extend %f-gral-input;
            width: 89%;
        }

    }


    // Select

    &-select {
        @extend %f-gral;

        @include e(arrow) {
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid $gray-20;
            padding: rem(9.5px) rem(14px);


        }

        @include e(select) {
            position: relative;
            width: 100%;
            cursor: pointer;
            @extend %f-gral-padding;
            @extend %f-gral-input;
        }

    }


    // Select day

    &-select-day {
        @extend %f-gral;
        text-align: center;
        width: 240px;

        @include e(arrow) {
            padding: rem(9.5px) rem(14px);
        }

        &__arrow:first-child {
            float: right;
            border-left: 1px solid $gray-20;
        }

        &__arrow:last-child {
            float: left;
            border-right: 1px solid $gray-20;
        }

        @include e(text) {
            font-weight: $font-weight--light;
            line-height: rem(40px);
        }
    }


    // Half width (50%)

    @include m(half-width) {
        width: 50%;
    }


    // Full Width (100%)

    @include m(full-width) {
        width: 100%;
    }

}


