// ==========================================================================
// Header filters
// ==========================================================================

.header-filters {
    @extend %header-gral; // Get from header-block

    @include e(link) {
        margin-bottom: 36px;
    }

    @include e(title) {
        float: left;
        font-weight: $font-weight--thin;
    }

    @include e(label) {
        float: left;
        display: block;
        line-height: rem(40px);
        margin: 0 20px 0 40px;
        font-weight: $font-weight--light;
    }

}