// ==========================================================================
// Header block
// ==========================================================================

%header-gral {
    overflow: hidden;
    padding: rem(20px) 0;
    @extend %clearfix;
}

.header-block {
    @extend %header-gral;

    &__title,
    &__link {
        margin: 0; // Ver este estilo, resetea el margen de los textos
    }

    @include e(title) {
        text-transform: uppercase;
        float: left;
    }

    @include e(link) {
        float: right;
        line-height: rem(20px);
    }

}