// ==========================================================================
// Icon Box
// ==========================================================================

// ==========================================================================
// Icon Box Extend
// ==========================================================================

%icon-box-text {
    display: block;
    margin-top: 5px;
}

// ==========================================================================
// Icon Box BEM
// ==========================================================================

.icon-box {

    &__view,
    &__list,
    &__share {
        display: inline-block;
        margin-right: 14px;
        font-size: rem(12px);
        text-align: center;



        .icon-box__text {
            @extend %icon-box-text;

            @include m(white) {
                @extend %icon-box-text;
                color: $white;
            }

            @include m(black) {
                @extend %icon-box-text;
            }
        }
    }

    @include e(share) {
        margin-right: 0;
    }


    // Specific styles "dropdown-box" inside "icon-box"

    & .dropdown-box {
        top: 60px;
        width: 176px;
    }

}