// ==========================================================================
// Labels
// ==========================================================================

.label {
    color: white;
    display: inline-block;
    padding: .3rem .5rem;
    font-size: 70%;
    font-weight: $font-weight--light;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-transform: uppercase;
    margin-bottom: 5px;


    // Label group

    &-group {
        position: relative;

        .label--foxmas {
            position: absolute;
            top: 1px;
        }

    }


    // Label pilar

    @include m(series) {
       background: $orange;
    }

    @include m(sports) {
       background: $light-blue;
    }

    @include m(lifestyle) {
       background: $purple;
    }

    @include m(factual) {
       background: $yellow;
    }

    @include m(kids) {
       background: $green;
    }

    @include m(movies) {
       background: $red;
    }

    @include m(foxmas) {
        background: white;
        color: $gray-87;
        font-weight: $font-weight--ultra-bold;
        padding: 0;
        .logo--foxmas {
            width: 40px;
            height: 21px;
        }
    }


    // Label Exclusive

    @include m(exclusive) {
        background: white;
        color: $gray-87;
        font-weight: $font-weight--medium;
        padding: .3rem 0 .3rem .3rem;
    }


    // Label live

    @include m(live) {
        background: $gray-95;
    }


    // pg label

    &-pg {

        @include m(gray) {
            background: $gray-80;
        }

        @include m(green) {
            background: #0c9447;
        }

        @include m(blue) {
            background: #0f7dc2;
        }

        @include m(yellow) {
            background: #f8c411;
        }

        @include m(orange) {
            background: #e67824;
        }

        @include m(red) {
            background: #db2827;
        }

        @include m(black) {
            background: #1d1815;
        }
    }

}

