// ==========================================================================
// Link
// ==========================================================================

%link {
    font-size: rem(14px);
    display: block;
    margin: 5px 0;
}

.link {
    @extend %link;

    @include m(white) {
        @extend %link;
        color: $white;
    }
}