// ==========================================================================
// Nav Vertical
// ==========================================================================

.nav-vertical {
    overflow-y: scroll;
    display: none;
    @include mq(medium) {
        display: block;
    }

    @include e(item) {
        display: block;

        a {
            padding: rem(8px) rem(14px);
            width: 100%;
            display: block;
            border-left: 2px solid transparent;

            &:hover {
                border-left: 2px solid $gray-20;
            }
        }

        &.is-active {
            a {
                border-left: 2px solid $orange;
            }
        }
    }

}