// ==========================================================================
// Nav Tabs
// ==========================================================================

// ==========================================================================
// Extend for Nav Tabs
// ==========================================================================

%nav-tab-item {
    float: left;
    border-left: 0;
    position: relative;
    display: inline-block;
    width: 25%; // Reveer este estilo, 25% es solo si son 4 items.
}

%nav-tab-item-a {
    text-align: center;
    padding: rem(9.5px) rem(22px);
    display: block;
}

%nav-tab-item-active {
    @extend %arrow;

    &::before,
    &::after {
       left: 50%;
    }

    &::before {
        bottom: -7px;
        margin-left: -7px;
    }

    &::after {
        top: 37px;
        margin-left: -8px;
    }
}

// ==========================================================================
// Nav Tabs BEM
// ==========================================================================

// Nav Tabs

.nav-tabs {

    @include e(item) {
        @extend %nav-tab-item;
        border: 1px solid $gray-20;
        border-left: none;

        &:first-child {
            @include radius(5px 0 0 5px, $gray-20);
        }

        &:last-child {
            @include radius(0 5px 5px 0, $gray-20);
            border-left: none;
        }

        a {
            @extend %nav-tab-item-a;
            &:hover {
                background: $gray-13;
            }
        }

        &.is-active {

            a {
                @extend %nav-tab-item-active;
                background: $gray-20;

                &::before {
                    @extend %stroke-arrow-bottom-gray;
                }

                &::after {
                    @extend %arrow-bottom-gray;
                }
            }
        }
    }


    // Dark Modifier

    @include m(dark) {

        @include e(item) {
            @extend %nav-tab-item;
            border: 1px solid $gray-64;
            border-left: none;

            &:first-child {
                @include radius(5px 0 0 5px, $gray-64);
            }

            &:last-child {
                @include radius(0 5px 5px 0, $gray-64);
                border-left: none;
            }

            a {
                @extend %nav-tab-item-a;
                color: $white;

                &:hover {
                    background: $gray-71;
                }
            }

            &.is-active {

                a {
                    @extend %nav-tab-item-active;
                    background: $gray-64;

                    &::before {
                        @extend %stroke-arrow-bottom-dark;
                    }

                    &::after {
                        @extend %arrow-bottom-dark;
                    }
                }
            }
        }
    }
}
