// ==========================================================================
// Navs
// ==========================================================================


.nav {

    ul {

        > li {

            > a {
                display: inline-block;
                width: inherit;
            }
        }
    }

}


//Nav vertical

.nav-vertical {

    ul {

        > li {

            > a {
                padding: rem(12px) rem(14px);
                width: 100%;
                display: block;
                border-bottom: 1px solid $gray-20;
                border-left: 3px solid transparent;


                &:hover,
                &.active {
                    background: white;
                    border-left: 3px solid $orange;
                }
            }
        }
    }

}