// ==========================================================================
// Text Group
// ==========================================================================

.text-group {
    padding: rem(40px) 0;

    @include e(title) {
        margin-bottom: 10px;
        margin-top: 0;
    }

    @include e(description) {
        margin-bottom: 20px;
        margin-top: 0;
    }
}